html {
  scroll-behavior: smooth !important;
}

body {
  font-family: sans-serif;
}

p {
  font-size: min(calc(12px + 1vmin), 3vmin);
}

.jumbotron {
  min-height: 100vh;
  background-image: url('./images/HeroImage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.jumbotron h2 {
  font-size: 6vmin;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.jumbotron .button {
  font-size: 6vmin;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  min-height: 4em;
}

#rbnav {
  border-bottom: 0.1em solid rgba(255, 159, 28, 1);
}

.navbar-dark .navbar-nav .nav-link {
  color: whitesmoke;
}

.navbar-toggler-icon {
  padding: 0;
}

#RB {
  font-family: 'Patrick Hand', cursive;
  border-style: solid;
  border-width: 0.07em;
  padding: 0.25em;
  line-height: 1;
}

#fullname {
  color: rgba(255, 159, 28, 1);
}

#viewmyworkbutton {
  font-size: 3vmin;
  border-width: 0.09em;
}

#aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 93.5vh;
  color: rgba(94, 94, 94, 1);
  background-image: url('./images/whitePattern.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#aboutHeader {
  margin: 5vh;
  margin-top: 17vh;
  border-bottom: 0.13em solid rgba(94, 94, 94, 1);
  font-size: calc(16px + 3vmin);
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 2em; */
  min-height: 100vh;
  background-color: rgba(36, 36, 36, 1);
  color: rgba(94, 94, 94, 1);
}

#projectsHead {
  margin: 6vh;
  margin-top: 14vh;
  border-bottom: 0.13em solid rgba(255, 159, 28, 1);
  color: rgba(255, 159, 28, 1);
}

.projCard {
  border: 0.1em solid rgba(94, 94, 94, 1);
}

#architecture {
  margin: 2em;
}

.h1,
h1 {
  font-size: calc(16px + 3vmin);
}

#photoRow {
  flex-direction: column;
  align-items: center;
}

#rbcard {
  border: 0.032em solid rgba(255, 159, 28, 0.4);
}

#rbcard p {
  font-size: calc(2vw + 6px);
}

#rbcard h4 {
  font-size: calc(2vw + 8px);
}

.card-img-top {
  object-fit: cover;
  object-position: center;
  height: 15rem;
}

@media (max-width: 768px) {
  #rbcard {
    border: none;
  }
  html {
    scroll-behavior: auto;
  }
}

@media (min-width: 991px) {
  #rbcard p {
    font-size: 24px;
  }
  #rbcard h4 {
    font-size: 28px;
  }
}

@media (min-width: 991px) {
  #rbcard img {
    min-height: 100%;
  }
}

.card-container {
  display: grid;
  perspective: 700px;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: 'frontAndBack';
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}
